<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="run.cjs" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeRoute" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="run.cjs" />
        </rule>
      </rules>
    </rewrite>

    <!-- Enables iisnode logs under D:\home\LogFiles\iisnode -->
    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>