<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Route all requests to your Node entry file -->
    <handlers>
      <add name="iisnode" path="src/server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeRoute" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="src/server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Optional: helps iisnode restart when files change (mostly dev) -->
    <iisnode watchedFiles="web.config;package.json;src\*.js;src\routes\*.js;src\models\*.js;public\*.*" />

  </system.webServer>
</configuration>